<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deep Learning Model API Server</title>
</head>

<!-- CSS styles -->
<style>
    .page{
        margin: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
</style>

<body>
    <div class="page">
        <h1>Image Captioning & Object Detection Deep Learning Models API Server</h1>
        <p>Send image in base64 format in a POST request with tag "image" to <b>server_ip_address:5000/api/caption</b> or <b>server_ip_address:5000/api/detection</b></p>
        <h4>Made by:</h3>
        <ul>
            <li>David Osama</li>
            <li>Kyrillos Nagy</li>
            <li>Mina Wagdi</li>
        </ul>
    </div>
    
</body>
</html>